<!DOCTYPE html>
<html>
  <head>
    <title>Yourname Insight App</title>
  </head>
  <body>
    <div class="container">
      <h1>Smart Shopper - How popular is this deal?</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
          <input type="text" name="word" placeholder="Enter url of the deal" style="max-width: 800px;" autofocus required>
		  <input type="text" name="discount" placeholder="discount" style="max-width: 800px;" autofocus required>

        </div>
        <button type="submit">Submit</button>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
    <div>
        {% if letters %}
            <h2>Prediction </h2>
            <br>
            <div id="results">
                <ol>
                    <p>About {{ letters }} people are going to like this deal.</p>
					<p>For skin care products, this deal is more popular than 58% of the others.</p>
              </table>
            </div>
        {% endif %}
    </div>
</body>
</html>